<!DOCTYPE html>
<html lang="en">

<head>
    <!-- html stuff -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap stuff -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- css stuff -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
    <title>Main</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img src="https://mpng.subpng.com/20180328/tse/kisspng-money-bag-computer-icons-coin-tax-market-5abbb0febf56f2.7630683415222499827837.jpg" alt="" width="40" height="40">
          </a>

        </div>
      </nav>

    <div class="container-fluid">
        <table class="table table-hover">
            <tr>
                <th>Nome</th>
                <th>Plataforma</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>

            {% for jogos in jogos%}
            <tr>

                <td>{{jogos['Nome']}}</td>
                <td>{{jogos['Plataforma']}}</td>
                <td><a href="/update/{{jogos['Id']}}/{{jogos['Nome']}}/{{jogos['Plataforma']}}" class="btn btn-sm btn-outline-success">Editar</a></td>
                <td><a href="/delete/{{jogos['Id']}}" class="btn btn-sm btn-danger">Apagar</a></td>
            </tr>
            {% endfor %}

        </table>
 
        <a href="/create" class="btn btn-primary">Adicionar</a>

    </div>

</body>

</html>